.subscription {
    background-color: rgb(204, 0, 0);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 9px 13px 9px 13px;
    cursor: pointer;
    transition: opacity 0.15s;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 8px;
  }
  .joining {
    color: blue;
    background-color: white;
    border-color: rgb(6, 95, 212);
    border-style: solid;
    border-radius: 4px;  
    border-width: 2px;                 
    padding: 8px 13px 8px 13px;
    cursor: pointer;
    transition: background-color 1s,color 1s;
    margin-right: 8px;
    vertical-align: top;
  }
  .tweets{
    color: white;
    background-color: rgb(29, 155, 240);
    border-radius: 18px;
    border: none;
    padding: 9px 15px 9px 15px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.15s,color 0.15s;
    vertical-align: top;
  }
  .tweets:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
  }
.subscription:hover{
   opacity: 0.6;
}
.subscription:active{
  opacity: 0.4;
}
.joining:hover{
  background-color: rgb(6, 95, 212);
  color:white;
}
.joining:active{
  opacity: 0.4;
}